<controller name="{{.more}}" desc="{{.more}}接口">
    <api name="add" func="add" table="{{.more}}" method="post" desc="添加{{.more}}" >
        <param name="{{.more}}" type="${{.more}}" desc="{{.more}}信息" />
        <return>
            <success type="$success"/>
            <failure type="$fail"/>
        </return>
    </api>
    <api name="batch_add" func="add" table="{{.more}}" method="post" desc="添加{{.more}}">
        <param name="{{.more}}" type="[]${{.more}}" desc="{{.more}}信息" />
        <return>
            <success type="$success"/>
            <failure type="$fail"/>
        </return>
    </api>
    <api name="del" func="delete" table="{{.more}}" method="delete" desc="删除{{.more}}">
        <param name="{{.more}}" type="${{.more}}" desc="{{.more}}" />
        <return>
            <success type="$success"/>
            <failure type="$fail"/>
        </return>
    </api>
    <api name="batch_del" func="delete" table="{{.more}}" method="delete" desc="删除{{.more}}">
        <param name="{{.more}}" type="[]${{.more}}" desc="{{.more}}" />
        <return>
            <success type="$success"/>
            <failure type="$fail"/>
        </return>
    </api>
    <api name="update" func="update" table="{{.more}}" method="put" desc="更新{{.more}}">
        <param name="{{.more}}" type="${{.more}}" desc="{{.more}}信息" />
        <return>
            <success type="$success"/>
            <failure type="$fail"/>
        </return>
    </api>
    <api name="batch_update" func="update" table="{{.more}}" method="put" desc="更新{{.more}}">
        <param name="{{.more}}" type="[]${{.more}}" desc="{{.more}}信息" />
        <return>
            <success type="$success"/>
            <failure type="$fail"/>
        </return>
    </api>
    <api name="page" func="page" table="{{.more}}" method="get" desc="{{.more}}分页查询">
        <param name="page" type="int" value="1" desc="页码"/>
        <param name="size" type="int"  value="10" desc="单页数"/>
        <return>
            <success type="$success"/>
            <failure type="$fail"/>
        </return>
    </api>
    <api name="get" func="one" table="{{.more}}" method="get" desc="获取{{.more}}信息">
        <param name="id" type="string" desc="{{.more}}id" />
        <return>
            <success type="$success"/>
            <failure type="$fail"/>
        </return>
    </api>
    <api name="todo" desc="{{.more}} todo" method="get" desc="{{.more}}待办">
        <param name="id" type="string" desc="todo id" />
        <return>
            <success type="$success"/>
            <failure type="$fail"/>
        </return>
    </api>
</controller>