package {{$.Viper.GetString "dir.svc" }}

import (
	"io"
	"net/http"
	"time"

	"github.com/2637309949/dolphin/platform/{{$.Viper.GetString "dir.svc" }}"
	"github.com/2637309949/dolphin/packages/xormplus/xorm"
	"github.com/2637309949/dolphin/packages/cache"
	"github.com/2637309949/dolphin/platform/{{$.Viper.GetString "dir.types" }}"
	"github.com/2637309949/dolphin/platform/util/http/client"
	"github.com/gin-gonic/gin"
)

// ServiceContext defined TODO
type ServiceContext struct {
	Report svc.Report
	Store  svc.Store
	Client svc.Client
	DB     svc.DB
}

// NewServiceContext defined TODO
func NewServiceContext(cache cache.CacheStore) *ServiceContext {
	svc := svc.NewServiceContext(cache)
	return &ServiceContext{
		Store:  svc.Store,
		Report: svc.Report,
		Client: svc.Client,
		DB:     svc.DB,
	}
}
